THE CAPITALIZE AND LOWER CASE FUNCTION.

In [ ]:
message="There is no shame in repeating the basics, Fahad. In the end you have no one to impress but yourself."
print(message)
print(message.upper()) #EVERY LETTER IS NOW CAPITAL .upper()
print(message.lower()) #every letter is now lower  .lower()
print(message.title()) #Every Letter At The Start Of The Word Is Now Capital .title()

There is no shame in repeating the basics, Fahad. In the end you have no one to impress but yourself.
THERE IS NO SHAME IN REPEATING THE BASICS, FAHAD. IN THE END YOU HAVE NO ONE TO IMPRESS BUT YOURSELF.
there is no shame in repeating the basics, fahad. in the end you have no one to impress but yourself.
There Is No Shame In Repeating The Basics, Fahad. In The End You Have No One To Impress But Yourself.

TO ADD STRINGS TOGETHER

In [ ]:
first_name="Abdallah"
last_name="Abu Mutalib"
full_name=first_name+" ibn "+last_name
print(full_name)


#or you could use commas,
#trade_off is that you wont have the variable full_name.
print(first_name,"ibn",last_name)

Abdallah ibn Abu Mutalib
Abdallah ibn Abu Mutalib

TO ADD A TAB-SPACE

In [ ]:
print("hello")
#\t
print("\thello")

hello
	hello

TO ADD TO NEW LINE.

In [ ]:
print("Languages:\nEnlish\nFrench\nArabic")#\n

Languages:
Enlish
French
Arabic

TOGETHER

In [8]:
print("Languages:\n\tEnlish\n\tFrench\n\tArabic")

Languages:
	Enlish
	French
	Arabic

TO REMOVE WHITESPACES ON THE RIGHT.
temporarily

In [ ]:
life="Meaningful to the extent of the one living "
print(life.rstrip())    #rstrip()

Meaningful to the extent of the one living

TO REMOVE RIGHT WHITSPACE PERMANENTLY.

In [10]:
life="Meaningful to the extent of the one living "
life=life.rstrip()
print(life)

Meaningful to the extent of the one living

TO REMOVE WHITESPACE TO THE RIGHT

In [ ]:
ife="   Meaningful to the extent of the one living"
life=life.lstrip()  #lstrip()
print(life)

Meaningful to the extent of the one living

TO REMOVE ALL UNNECESSARILY WHITE SPACE

In [ ]:
name="   NICOLAS MADURO  "
print(name.strip()) #strip()

NICOLAS MADURO

Arithemtics.

In [2]:
print(1+1) #Addition
print(1-1) #substraction
print(2*1) #Multiplication
print(4/2) #divison
print(2**4) # exponent

2
0
2
2.0
16

TURNING VARIOUS DATA TYPES TO ONE ANOTHER

In [ ]:
#if we use the commas its not a problem
age=25
print("your age of",age)

#But we are required to store it as a variable message
message="your age of"+age
print(message)#its an error since age is an integer and we need it as a string.

your age of 25

TypeError: can only concatenate str (not "int") to str

In [ ]:
age=25
message="your age of"+str(age)#converts it into a string.
print(message)
#Remember str(variable) to convert it string.

your age of25