THE CAPITALIZE AND LOWER CASE FUNCTION.

In [ ]:
message="There is no shame in repeating the basics, Fahad. In the end you have no one to impress but yourself."
print(message)
print(message.upper()) #EVERY LETTER IS NOW CAPITAL .upper()
print(message.lower()) #every letter is now lower  .lower()
print(message.title()) #Every Letter At The Start Of The Word Is Now Capital .title()

There is no shame in repeating the basics, Fahad. In the end you have no one to impress but yourself.
THERE IS NO SHAME IN REPEATING THE BASICS, FAHAD. IN THE END YOU HAVE NO ONE TO IMPRESS BUT YOURSELF.
there is no shame in repeating the basics, fahad. in the end you have no one to impress but yourself.
There Is No Shame In Repeating The Basics, Fahad. In The End You Have No One To Impress But Yourself.

TO ADD STRINGS TOGETHER

In [ ]:
first_name="Abdallah"
last_name="Abu Mutalib"
full_name=first_name+" ibn "+last_name
print(full_name)


#or you could use commas,
#trade_off is that you wont have the variable full_name.
print(first_name,"ibn",last_name)

Abdallah ibn Abu Mutalib
Abdallah ibn Abu Mutalib

TO ADD A TAB-SPACE

In [ ]:
print("hello")
#\t
print("\thello")

hello
	hello

TO ADD TO NEW LINE.

In [ ]:
print("Languages:\nEnlish\nFrench\nArabic")#\n

Languages:
Enlish
French
Arabic

TOGETHER

In [8]:
print("Languages:\n\tEnlish\n\tFrench\n\tArabic")

Languages:
	Enlish
	French
	Arabic

TO REMOVE WHITESPACES ON THE RIGHT.
temporarily

In [ ]:
life="Meaningful to the extent of the one living "
print(life.rstrip())    #rstrip()

Meaningful to the extent of the one living

TO REMOVE RIGHT WHITSPACE PERMANENTLY.

In [10]:
life="Meaningful to the extent of the one living "
life=life.rstrip()
print(life)

Meaningful to the extent of the one living

TO REMOVE WHITESPACE TO THE RIGHT

In [ ]:
ife="   Meaningful to the extent of the one living"
life=life.lstrip()  #lstrip()
print(life)

Meaningful to the extent of the one living

TO REMOVE ALL UNNECESSARILY WHITE SPACE

In [ ]:
name="   NICOLAS MADURO  "
print(name.strip()) #strip()

NICOLAS MADURO

Arithemtics.

In [2]:
print(1+1) #Addition
print(1-1) #substraction
print(2*1) #Multiplication
print(4/2) #divison
print(2**4) # exponent

2
0
2
2.0
16

TURNING VARIOUS DATA TYPES TO ONE ANOTHER

In [ ]:
#if we use the commas its not a problem
age=25
print("your age of",age)

#But we are required to store it as a variable message
message="your age of"+age
print(message)#its an error since age is an integer and we need it as a string.

your age of 25

TypeError: can only concatenate str (not "int") to str

In [ ]:
age=25
message="your age of"+str(age)#converts it into a string.
print(message)
#Remember str(variable) to convert it string.

your age of25

ACCESSING ELEMENTS IN A LIST.

In [8]:
names=['Tariq','Bashir','Greyson','Than']#List ofnames based on height
tallest=names[1]
print(tallest)#The first position is indexed 0 then an addition from there,
the_intp=names[0]
print(the_intp)

Bashir
Tariq

ACCESSING THE ELEMENT AT THE END OF THE LIST.

In [13]:
#Lets create a list of areas of my life according to importance
fields_of_my_life=('Deen','Family','strength','Health','Finances')
least_important=fields_of_my_life[-1]
print(least_important)#will return the last element on the list namely finances

#to go through the list just index from -1,-2,-3
print("the second last")
print(fields_of_my_life[-2])

Finances
the second last
Health

CHANGING THE ELEMENT IN THE LIST

In [ ]:
top_profitable_companies=['JUBILEE','CRDB','NMB']
#OHH NO JUBILEE GOT RENAMEDðŸ˜‚ TO A HYPOTHETICAL MILLENIUM AND WE NEED TO REPLACE , IT'S FIRST ON THE LIST SO INDEX[0]
top_profitable_companies[0]="MILLENIUM"
print(top_profitable_companies) #jubilee should be replaced on the list.

['MILLENIUM', 'CRDB', 'NMB']

ADDING AN ELEMENT TO A LIST.

In [17]:
students_enrolled=['Emmanuel','Greyson','Timothy','Baraka_dem_blessingseeðŸ¤£','Nathan']
#The school had a new student Fine_shyt, we need to add him to list
students_enrolled.append('fine_shyt')
print(students_enrolled) #The new student should be added at the last of the index

['Emmanuel', 'Greyson', 'Timothy', 'Baraka_dem_blessingseeðŸ¤£', 'Nathan', 'fine_shyt']

TO ADD AN ELEMENT TO A LIST WITHOUT REPLACING IT.

In [18]:
dream_cars=['Porsche 911','Nissan GTR R35','Toyota supra','Acura NSX']
#later in life Fahad became a baller and wanted a money burner so he adds it to the list
dream_cars.insert(0,"corvette")
print(dream_cars)

['corvette', 'Porsche 911', 'Nissan GTR R35', 'Toyota supra', 'Acura NSX']

TO REMOVE AN ELEMNT FROM A LIST.

In [22]:
dream_cars=['Porsche 911','Nissan GTR R35','Toyota supra','Acura NSX']
#Fahad then decided a supra is glorified bmw and doesn't want it anymore.
dream_cars.remove('Toyota supra')
print(dream_cars)

['Porsche 911', 'Nissan GTR R35', 'Acura NSX']

NOW LETS SORT THE LISTS IN ALPHABETICAL ORDER

In [23]:
dream_cars=['Porsche 911','Nissan GTR R35','Toyota supra','Acura NSX']
dream_cars.sort()
print(dream_cars)

['Acura NSX', 'Nissan GTR R35', 'Porsche 911', 'Toyota supra']

ALPHABETICAL ORDER BUT REVERSE.

In [24]:
dream_cars=['Porsche 911','Nissan GTR R35','Toyota supra','Acura NSX']
dream_cars.sort(reverse=True)
print(dream_cars)

['Toyota supra', 'Porsche 911', 'Nissan GTR R35', 'Acura NSX']

SORTING THE LIST TEMPORARILY

In [ ]:
dream_cars=['Porsche 911','Nissan GTR R35','Toyota supra','Acura NSX']
print(sorted(dream_cars))#in here you never change the order just print it as such

['Acura NSX', 'Nissan GTR R35', 'Porsche 911', 'Toyota supra']

LETS REVERSE THE ORDER OF THE LIST

In [26]:
dream_cars=['Porsche 911','Nissan GTR R35','Toyota supra','Acura NSX']
dream_cars.reverse()
print(dream_cars)

['Acura NSX', 'Toyota supra', 'Nissan GTR R35', 'Porsche 911']

LETS GET HOW MANY ELEMENTS THE LIST HAS

In [ ]:
dream_cars=['Porsche 911','Nissan GTR R35','Toyota supra','Acura NSX']
#Fahad is designing his home garage and wants to know how big his garage should be
print(len(dream_cars)) #we use the len()

4